body {
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #fff5bf;
  text-align: center;
  padding: 0px 40px;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 48px;
}

footer {
  margin-top: 300px;
  bottom: 0;
  height: 100px;
  width: 100%;
}

p {
  margin: 0 auto;
  max-width: 550px;
}

h1 {
  color: royalblue;
  font-size: 50px;
  font-weight: 400;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: royalblue;
  margin-top: 80px;
}

.btn-lg {
  padding: 24px 40px;
  font-size: 24px;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

/* Handle formatting on mobile */
/*@media (max-width: 767px) {
  .navbar-default .navbar-collapse > ul > li {
    width: 100%;
    text-align: left;
  }
}*/
