body {
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

header {
  text-align: center;
}

footer {
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  position: absolute;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 25px;
  /* font-weight: 300; */
  font-weight: bold;
  color: #8c1515;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.lhead {
  font-weight: normal;
  margin-top: 5px;
}

.litem {
  margin-top: 5px;
}

.sec {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold { font-weight: bold; }
.red { color: #FF0000; }

/* Handle formatting on mobile */
/*@media (max-width: 767px) {
  .navbar-default .navbar-collapse > ul > li {
    width: 100%;
    text-align: left;
  }
}*/
