<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

  <title>Laughbot</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>

</head>

<body>

<div class="main-container">
<header>
  <h1>Hi! I'm Laughbot.</h1>
  <p>Click "Start Recording" to talk to me. Once you click "Stop Recording", I'll run what you said through my models and tell you if you're funny or not.</p>
</header>

<div>
  <button id="recordButton" type="button" class="btn btn-success btn-lg">Start Recording</button>
</div>

<div id="convo" style="text-align:center">
  <p id="text">You said:</p>
  <h2 id="prediction">Laughbot says:</h2>
</div>
</div>

<!-- javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  var recording = true;
  $("#recordButton").click(function() {
    if (recording) {
      $('#recordButton').removeClass('btn btn-success btn-lg').addClass('btn btn-danger btn-lg');
      $('#recordButton').html("Stop Recording");
      $.getJSON('/record',
        function(data) {
      });
    } else {
      $('#recordButton').removeClass('btn btn-danger btn-lg').addClass('btn btn-success btn-lg');
      $('#recordButton').html("Start Recording");
      $.getJSON('/predict',
      function(data) {
        var prediction = (data.funny === 1) ? 'LOL!' : 'Not funny :-(';
        $('#text').html("You said: " + data.text);
        $('#prediction').html("Laughbot says: " + prediction);
      });
    }
    recording = !recording;
  }); 
});
</script>
</body>

</html>